.page.page-docs {
    h1 {
        font-size: 36px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    blockquote {
        font-size: 18px;
        font-style: italic;
        line-height: 30px;
        text-align: left;
        border-left: 3px solid #333;
        padding: 5px 15px;
        margin: 15px 0;
    }

    main .main-container section {
        padding: 0;
        border-bottom: none;

        h2 {
            font-size: 28px;
            padding: 15px 0;
            margin-bottom: 30px;
            margin-top: 20px;
            color: #3d4854;
            border-bottom: 1px solid #dedfe0;
        }

        a:not(.btn) {
            color: #969696;
        }
    }

    .hero {
        height: 140px;
    }

    .post-content {
        font-size: 18px;

        ul {
            list-style: none;
            counter-reset: item;
            padding: 0;
            margin: 30px 0;
        }

        li {
            counter-increment: item;
            margin-bottom: 10px;
            border: 2px solid rgba(0, 0, 0, 0.15);
            padding: 15px 20px;
            border-radius: 10px;
            position: relative;
            font-size: 18px;
            line-height: 1.58;

            a:not(.btn) {
                color: #171717 !important;
            }
        }
    }

    .featured-image {
        height: 80px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .post-date {
        font-size: 15px;
        opacity: 0.7;
    }

    .post-title-container {
        padding: 25px 40px;
        background: #f9f9f9;
    }

    .docs-sidebar {
        position: relative;
        border-right: 1px solid #e6e6e6;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 0;
        padding-left: 0;
        padding-top: 5px;

        ul {
            margin-top: 10px;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    color: black;
                    text-decoration: none;
                    display: block;
                    padding: 10px 20px;
                    padding-left: 35px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-right: 15px;

                    // &:hover {
                    //     background: #efefef;
                    // }
                }

                ul {
                    display: none;
                    background: rgba(210, 210, 210, 0.15);
                }

                &.expanded {
                    > ul {
                        display: block;

                        // max-height: 500px;
                        // overflow-y: auto;
                        // overflow-x: hidden;
                    }
                }

                &.active {
                    > a {
                        position: relative;
                        padding-left: 62px;

                        &:before {
                            content: '';
                            height: 10px;
                            width: 10px;
                            background: #007bff;
                            border-radius: 50%;
                            z-index: 1;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 40px;
                        }
                    }
                }
            }
        }
    }

    .menu-fixed:not(.small-width) {
        .sidebar-menu {
            overflow-y: auto;
        }
    }

    .menu-title {
        padding: 10px 40px;
        background: #252525c4;
        backdrop-filter: blur(10px);
        color: white;
        cursor: pointer;
    }

    .menu-show {
        .menu-title {
            .fa-caret-down {
                transform: rotate(180deg);
            }
        }
    }

    .small-width {
        .docs-sidebar {
            border-right: none;
            width: 100%;
            max-width: unset;
            position: absolute;
            padding: 0;
            z-index: 2;

            ul {
                display: none;
                margin-left: 0;
            }
        }

        &.menu-fixed {
            .docs-sidebar {
                position: fixed;
                top: 80px;
                left: 0;
                width: 100%;
            }
        }

        &.menu-show {
            .docs-sidebar {
                background: white;
                height: calc(100vh - 80px);

                ul {
                    display: block;
                }
            }
        }

        .docs-sidebar + .col {
            margin-top: 40px;
        }
    }
}
