.page-borders {
    .page-border {
        background: #292b2d;
        position: fixed;

        &.t-border {
            top: 0;
            left: 0;
            height: 20px;
            width: 100%;
        }

        &.b-border {
            bottom: 0;
            left: 0;
            height: 20px;
            width: 100%;
        }

        &.l-border {
            top: 0;
            left: 0;
            height: 100%;
            width: 20px;
        }

        &.r-border {
            top: 0;
            right: 0;
            height: 100%;
            width: 20px;
        }
    }
}
