.page header.page-header {
  display: unset;
  user-select: none;

  .header-nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    top: 20px;
    transition: 0.3s background ease-in-out;

    .logo {
      color: white;
      font-size: 25px;
      font-weight: 600;

      img {
        max-height: 45px;
      }
    }

    &:not(.scrolled) {
      z-index: 10;
      position: relative;
    }

    &.sticky-unset {
      background: #252525c4;
      backdrop-filter: blur(10px);
      animation: sticky-top-unset 0.5s forwards;
    }

    &.scrolled {
      background: #252525c4;
      backdrop-filter: blur(10px);
      animation: sticky-top-set 0.5s forwards;
    }

    .navbar-dark .navbar-toggler {
      border: none;
    }

    .dropdown-menu {
      left: unset;
      right: 0;
    }

    .dropdown:hover .dropdown-menu {
      display: block;
      margin: 0;
    }

    // Medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) {
      .navbar-collapse {
        background: #060606fc;
        position: absolute;
        top: 100%;
        width: 100%;
        right: 0;
        padding: 0 20px;
        z-index: 999999999999999;
        border-radius: 10px;
      }

      .dropdown-menu {
        margin-bottom: 10px;
      }
    }

    @keyframes sticky-top-set {
      0% {
        top: -100px;
      }
      100% {
        top: 0;
      }
    }

    @keyframes sticky-top-unset {
      0% {
        background: #252525c4;
        backdrop-filter: blur(10px);
      }
      100% {
        background: transparent;
        backdrop-filter: blur(0px);
      }
    }
  }
}
