.page .page-menu.mode-prev-next {
  border-top: 1px dashed #e6e6e6;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  overflow: hidden;
}

.page .page-menu.mode-prev-next .menu-item-next,
.page .page-menu.mode-prev-next .menu-item-prev {
  position: relative;
  width: 49%;
}

.page .page-menu.mode-prev-next .menu-item-next a,
.page .page-menu.mode-prev-next .menu-item-prev a {
  display: block;
  border: 1px solid #d8d8d8;
  padding: 10px 15px;
  border-radius: 3px;
  text-decoration: none;
}

.page .page-menu.mode-prev-next .menu-item-next a span,
.page .page-menu.mode-prev-next .menu-item-prev a span {
  display: block;
}

.page .page-menu.mode-prev-next .menu-item-next a .menu-item-title,
.page .page-menu.mode-prev-next .menu-item-prev a .menu-item-title {
  color: black;
}

.page .page-menu.mode-prev-next .menu-item-next a .menu-item-label,
.page .page-menu.mode-prev-next .menu-item-prev a .menu-item-label {
  color: #007bff;
  font-size: 18px;
  font-weight: 500;
}

.page .page-menu.mode-prev-next .menu-item-next a:hover,
.page .page-menu.mode-prev-next .menu-item-prev a:hover {
  border: 1px solid #007bff;
}

.page .page-menu.mode-prev-next .menu-item-next a:active,
.page .page-menu.mode-prev-next .menu-item-prev a:active {
  border: 1px solid #d8d8d8;
}

.page .page-menu.mode-prev-next .menu-item-prev {
  float: left;
  text-align: left;
}

.page .page-menu.mode-prev-next .menu-item-prev .menu-item-title {
  padding-left: 25px;
}

.page .page-menu.mode-prev-next .menu-item-prev .menu-item-title::before {
  position: absolute;
  content: '←';
  left: 15px;
  transition: 0.3s right ease-in-out;
}

.page .page-menu.mode-prev-next .menu-item-next {
  float: right;
  text-align: right;
}

.page .page-menu.mode-prev-next .menu-item-next .menu-item-title {
  padding-right: 25px;
}

.page .page-menu.mode-prev-next .menu-item-next .menu-item-title::after {
  position: absolute;
  content: '→';
  right: 15px;
  transition: 0.3s right ease-in-out;
}
