.page.page-blog {
    .hero {
        height: 415px;
    }

    .card {
        border: none;
        height: 160px;
        border-radius: 0;
        margin-bottom: 20px;

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }
    }

    .card-img-left {
        max-width: 250px;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        &:not(.card-has-img) {
            position: relative;
            &:after {
                position: absolute;
                font-family: 'FontAwesome';
                font-weight: 400;
                content: '\f1ea';
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-size: 80px;
                color: white;
                transition: opacity 0.3s ease-in-out;
            }
        }
    }
}
