.page.page-home .card-wrapper {
  display: flex;
}

.page.page-home .card-wrapper .card {
  position: relative;
  flex: 1;
}

.page.page-home .card-wrapper .card a.card-title {
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-bottom: 16px;
  display: block;
  line-height: 30px;
}

.page.page-home .card-wrapper .card .card-body {
  display: flex;
  flex-flow: column;
}

.page.page-home .card-wrapper .card .card-body .card-text:first-of-type {
  flex: 1;
}
